<?xml version="1.0" encoding="UTF-8"?>
<!--
    This isn't current and may not work.
    
    asmblr boilerplate IIS configuration file.
    
    Move to doc_root/web.config and restart IIS to activate.

    All requests, including images, CSS, JS, etc., will
    be served through asmblr using DOC_ROOT/index.php

    This is a multi-site configuration, however IIS
    needs to have each hostname bound manually.
-->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="asmblr" enabled="true" patternSyntax="Wildcard">
                    <match url="*" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" />
    </system.webServer>
</configuration>

