<?xml version="1.0" encoding="UTF-8"?>
<!--
    Framewire Boilerplate IIS 7 configuration file.
    http://www.framewire.org/

    This file configures /img/, /font/ and /favicon.ico
    to be served directly by IIS.

    All other requests, including /css/ and /js/, will
    be served through Framewire using /fwboot.php
-->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Framewire Route" enabled="true" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="/img/*" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/font/*" negate="true" />                        
                        <add input="{REQUEST_URI}" pattern="/favicon.ico" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/asmboot.php" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" />
    </system.webServer>
</configuration>
