<?xml version="1.0" encoding="UTF-8"?>
<!--
    asmblr console + server
-->
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Framewire Route" enabled="true" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="/favicon.ico" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/font/*" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/jslib/*" negate="true" />
                        <add input="{REQUEST_URI}" pattern="/img/*" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/asmboot.php" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors existingResponse="PassThrough" />
    </system.webServer>
</configuration>

